/*    Created on : 02/07/2016, 15:56:44
    Author     : Hedo
*/
nav {
    height: 70px;
}

@font-face{
    font-family: Open Sans;
    src: url('../fonts/OpenSans-Light.ttf');
}


.display-block {
    display: block;
}

.navbar-right {
    margin-right: 20px;
}

.navbar-collapse {
    background-color: #434343;
    border: none;
}

#btn-collapse{
    margin-top: 20px;
    margin-bottom: 16px;
}
body {
    margin-top: 70px;
    overflow-x: hidden;
}
.navbar-default {
    background-color: #434343;
}

nav,
a.navbar-brand h6:first-of-type,
a.navbar-brand h6:nth-of-type(2) {
    font-weight: bold;
}

a.navbar-brand h6:first-of-type,a.navbar-brand h6:nth-of-type(2){
    line-height: 15px;
}

#li-navbar, #navbar-logout, #logged-user-name, #separador{
    margin-top: 8px;
    font-size: 1.2em;
    font-weight: 300;
}

#li-navbar, #li-navbar a, #navbar-logout {
    transition: color 0.5s ease;
}

#li-navbar, #li-navbar a, a.navbar-brand h6:nth-of-type(2), #navbar-logout {
    color: white;
}

#li-navbar:hover, #li-navbar a:hover, #navbar-logout:hover {
    color: #FBAF41;
}

#navbar-logout{
    display: block;
}

#separador{
    color: #737373;
}

#logged-user-name{
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 21px;
    display: block;
    color: #FBAF41;
}

#dropdownNavbar {
    margin-top: 13px;
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/ 

}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(204,204,204,0.8); 
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);*/ 
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(204,204,204,0.4); 
}
.dropdown-menu {
    min-width: 62px;
    max-height: 283px;
    max-width: 62px;
    background-color: #434343;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-left: .3px solid white;
    border-right: .3px solid white;
    border-bottom: .3px solid white;
    overflow-y: auto;
    overflow-x: hidden;
}



.dropdown-menu>li:hover >a {
    color: #FBAF41;
}

.dropdown-menu>li>a {
    background-color: #434343 !important;
    color: white;
    margin-left: -8px;
}

#btnDropdownNavbar {
    border-color: #B0B5B6;
    font-weight: normal;
    min-width: 62px;
}

@media(min-width: 1024px){
    .navbar>.container-fluid .navbar-brand {
        margin-left: 20px;
        margin-top: -14px;
    }
}

@media(max-width: 1023px){
    .navbar>.container-fluid .navbar-brand {
        margin-top: -14px;
    }
}

@media(max-width: 768px){
    #separador{
        display: none;
    }
    .navbar-brand{
        margin-top: -14px;
    }
}

a.navbar-brand h6:first-of-type{
    margin-left: 1px;
    font-size: 1.175em;
}
a.navbar-brand h6:nth-of-type(2){
    font-size: 1.8em;
}

.general-section-titling{
    font-weight: 500;
    font-size: 2.5em;
}

a:-webkit-any-link {
    text-decoration: none;
}

a.navbar-brand h6:first-of-type {
    color: #FBAF41;
}

.btn-default, 
.general-section-titling, 
nav,
a.navbar-brand h6:first-of-type,
a.navbar-brand h6:nth-of-type(2),
.servico-mais-caro,
.modal-content {
    font-family: Open Sans, sans-serif;
}

.modal-content {
    background-color: #434343;
    border-radius: 0px;
    box-shadow: 0px 0px 4px white;
    color: white;
    border-color: #434343;
}

#modalCabecalho {
    font-size: 2.3em;
    font-weight: bold;
}

#modalCorpo {
    font-size: 1.6em;
}

#btnPrincipal, #btnCancelar {
    font-weight: bold;
    border-radius: 0px;
}

#btnPrincipal {
    background-color: #FBAF41;
}

#btnCancelar {
    background-color: #B0B5B6;
    border-color: #B0B5B6;
}

.modal-content .modal-header button.close, #btnPrincipal, #btnCancelar {
    color: white;
}

#fragments-alert{
    background-color: #B0B5B6;
    color: #434343;
    padding-left: 40px;
    margin-top: 20px;
    border-radius: 0;
    box-shadow: 0px 0px 3px #FBAF41;
}

#select-gerentes {
    border-color: #FBAF41;
    font-family: Open Sans, sans-serif;
}