<!DOCTYPE html>
<html xmlns="https://www.thymeleaf.org">
    <head th:replace="fragments_dashboard :: head">
        <title>DashBoardie</title>
    </head>
    <body>
        <nav th:replace="fragments_dashboard :: navbar"/>
        <div class="container">
            <section th:replace="fragments_dashboard :: main-info-section"/>
            <div class="row">
                <section th:replace="fragments_dashboard :: main-section('Custos deste mês', ${idMesAtual})"/>
                <section th:replace="fragments_dashboard :: main-section('Previsão para o próximo mês',${idProximoMes})"/>
            </div>
        </div> 
        <div th:replace="fragments_dashboard :: scripts"></div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.6/Chart.min.js" type="text/javascript"></script>
        <script th:src="@{/js/dashboard.js}" type="text/javascript"></script>
    </body>
</html>
