<!DOCTYPE html>
<html xmlns="https://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link th:href="@{/css/bootstrap/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{/css/fragments.css}" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top" th:fragment="navbar">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" id="btn-collapse" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" th:href="@{/}">
                        <h6>Onde Está</h6>
                        <h6>Wallet?</h6>
                    </a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a th:href="@{/}" id="li-navbar">Dashboard</a></li>
                        <li><a th:href="@{/cadastro}" id="li-navbar">Cadastros</a></li>
                        <li><a th:href="@{/gerente}" id="li-navbar">Gerentes</a></li>
                        <li><a id="separador" > | </a></li>
                        <li><span id="logged-user-name" th:text="${#authentication.principal.nmUsuario}"/></li>
                        <li><a th:href="@{/logout}" id="navbar-logout">Sair</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </body>
</html>
