<!DOCTYPE html>
<html xmlns="https://www.thymeleaf.org">
    <head th:fragment="head">
        <title>Dashboard | Onde está Wallet?</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link th:href="@{/css/bootstrap/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{/css/fragments.css}" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <section th:fragment="main-info-section">
            <div class="row">
                <div class="container general-info-section">
                    <div class="row">
                        <section class="col-md-6">
                            <div class="panel">
                                <section class="general-section-titling custo-deste-mes panel-heading text-center">
                                    Mês atual
                                </section>
                                <div class="general-section-content custo-deste-mes panel-body">
                                    <section>
                                        Custo total: <strong id="preco-total-mes" class="preco-total"/>
                                    </section>
                                </div>
                            </div>
                        </section>
                        <div class="col-md-6">
                            <div class="panel">
                                <section class="general-section-titling custo-deste-mes panel-heading text-center">
                                    Próximo mês
                                </section>
                                <section class="general-section-content custo-deste-mes panel-body">
                                    Custo total previsto: <strong id="preco-total-proximo-mes" class="preco-total"/>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section class="container main-section col-md-12" th:fragment="main-section(idContainer, idContainerGrafico, idBtnVerMais, idBtnPesquisar, idFormFiltrar)">
            <div th:id="${idContainer}">
                <section class="services-section">
                    <section class="general-section-titling text-center">Serviços <a href="#" class="glyphicon glyphicon-search search-link" th:id="${idBtnPesquisar}"/></section>
                    <form th:id="${idFormFiltrar}">    
                        <select class="form-control" id="select-gerentes">
                        </select>
                        <input type="submit" class="btn btn-warning col-md-offset-5" id="btnFiltrar" value="Filtrar"/>
                    </form>
                    <div class="services-container list-group">
                        <section id="services-container-list"></section>
                    </div>
                    <section class="text-center display-block">
                        <a class="btn btn-default" th:id="${idBtnVerMais}">Ver mais</a>
                        <section class="general-section-content text-center">Percentual de impacto no custo total mensal por serviço</section>
                    </section>
                    <canvas class="graph-section" th:id="${idContainerGrafico}"></canvas>
                </section>
            </div>
        </section>
        <div th:fragment="scripts">
            <script th:src="@{/js/jquery-2.2.3.min.js}" type="text/javascript"></script>
            <script th:src="@{/js/bootstrap.min.js}" type="text/javascript"></script>
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.6/Chart.bundle.min.js"></script>
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.6/Chart.js"></script>
        </div>
    </body>
</html>
