<!DOCTYPE html>
<html xmlns="https://www.thymeleaf.org">
    <head th:fragment="head">
        <title>Dashboard | Onde está Wallet?</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link th:href="@{/css/bootstrap/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{/css/fragments.css}" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top" th:fragment="navbar">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <h6>Onde Está</h6>
                        <h6>Wallet?</h6>
                    </a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#" id="li-navbar">Dashboard</a></li>
                        <li><a href="#" id="li-navbar">Cadastros</a></li>
                        <li><a href="#" id="li-navbar">Gerentes</a></li>
                        <li><a href="#" id="li-navbar" th:text="${user.nmUsuario}"/></li>
                        <li><a th:href="@{/logout}" id="li-navbar">Sair</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <section th:fragment="main-info-section">
            <div class="row">
                <section class="container general-info-section col-md-11">
                    <div class="row">
                        <section class="general-section-titling col-md-offset-1">
                            Custo total neste mês: <strong id="preco-total-mes"/>
                        </section>
                        <section class="general-section-content col-md-offset-1">
                            Serviço mais caro do mês: <span id="servico-mais-caro-nome"/> - <span id="servico-mais-caro-valor"/>
                        </section>
                        <section class="general-section-titling col-md-offset-1">
                            Custo total para o próximo mês: <strong id="preco-total-proximo-mes"/>
                        </section>
                    </div>
                </section>
            </div>
        </section>


        <section class="container main-section col-md-5" th:fragment="main-section(mensagemTopo, idContainer)">
            <section th:id="${idContainer}">
                <section class="general-section-titling text-center" th:text="${mensagemTopo}"></section>
                <section class="services-section">
                    <section class="general-section-titling text-center">
                        Serviços
                    </section>                    
                    <section class="services-container list-group">
                        <section id="services-container-list">
                            
                        </section>
                        <section>
                            <a class="btn btn-default">Ver mais</a>
                        </section>
                    </section>
                </section>
                <section class="general-section-content">
                    Serviços relacionados à sua porcentagem no custo total
                </section>
                <canvas class="graph-section" id="grafico">
                </canvas>
            </section>
        </section>
        <div th:fragment="scripts">
            <script th:src="@{/js/jquery-2.2.3.min.js}" type="text/javascript"></script>
            <script th:src="@{/js/bootstrap.min.js}" type="text/javascript"></script>
        </div>
    </body>
</html>
