<!DOCTYPE html>
<html xmlns="https://www.thymeleaf.org">
    <head>
        <title th:text="${usuario.nome} + ' | Onde está Wallet?'"/>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link th:href="@{/css/bootstrap/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{/css/fragments_generico.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{/css/gerente.css}" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <nav th:replace="fragments_generico :: navbar"/>
        <div class="container">
            <div class="row">
                <div class="jumbotron" id="div-gerente">
                    <div class="row">
                        <h1 class="display-3" th:text="${usuario.nome}"/>
                    </div>
                    <div class="row">
                        <h1 class="display-2" th:text="${usuario.email}"/>
                    </div>
                    <div class="row">
                        <h1 class="display-2" th:text="${usuario.username}"/>
                    </div>
                    <div class="row">
                        <h1 class="display-2" th:text="${usuario.situacao}"/>
                    </div>
                    <div class="row">
                        <a class="btn glyphicon glyphicon-trash btn-excluir-gerente" th:href="@{'/excluir-gerente?idGerente=' + ${usuario.id}}"/>
                        <a class="btn glyphicon glyphicon-pencil btn-editar-gerente" th:href="@{'/editar-gerente?idGerente=' + ${usuario.id}}"/>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="fragments_dashboard :: scripts"></div>
    </body>
</html>
