<!DOCTYPE html>
<html lang="pt-BR" xmlns="https://www.thymeleaf.org">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta charset="UTF-8"/>
        <title th:text="#{title.login}"/>
        <link th:href="@{/css/bootstrap/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'/>
        <link th:href="@{/css/login.css}" rel="stylesheet" type="text/css"/>

    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <header class="col-md-3">
                    <h1 class="header-login" th:text="#{header.login.1}"/>
                    <h1 class="header-login" th:text="#{header.login.2}"/>
                </header>
            </div>
            <div class="row">
                <form class="form-horizontal col-md-4" th:action="@{/login}" method="POST">
                    <section class="form-group">
                        <input type="text" name="username" th:placeholder="#{placeholder.usuario}" class="form-control" />
                    </section>
                    <section class="form-group">
                        <input type="password" name="password" th:placeholder="#{placeholder.senha}" class="form-control" />
                    </section>
                    <section class="form-group">
                        <input type="submit" class="btn btn-info col-md-offset-10" th:value="#{texto.botao.entrar}" id="btn-login"/>
                    </section>
                </form>    
            </div>
            <div class="row">
                <section class="alert login-error col-md-3 col-md-offset-4" th:if="${param.error}" th:text="#{erro.login}"/>
                <section class="alert login-error col-md-3 col-md-offset-4" th:if="${param.logout}" th:text="#{logout}"/>
            </div>
        </div>
    </body>
</html>
