<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <title>Login | Onde Está Wallet</title>
        <link href="../static/css/bootstrap/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'/>
        <link href="../static/css/login.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <header class="col-md-3 col-md-offset-5">
                    <h1 class="header-login">Onde está</h1>
                    <h1 class="header-login">Wallet?</h1>
                </header>
            </div>
                <div class="row">
                    <form class="form-horizontal col-md-5 col-md-offset-1">
                        <section class="form-group">
                            <input type="text" name="inputEmail" placeholder="Usuário" class="form-control" />
                        </section>
                        <section class="form-group">
                            <input type="password" name="inputSenha" placeholder="*****" class="form-control" />
                        </section>
                    </form>    
                </div>
        </div>
    </body>
</html>
