<!DOCTYPE html>
<html xmlns="https://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link th:href="@{/css/bootstrap/bootstrap.min.css}" type="text/css" rel="stylesheet"/>
        <link th:href="@{/css/fragments.css}" type="text/css" rel="stylesheet"/>
        <link th:href="@{/css/service.css}" type="text/css" rel="stylesheet"/>
    </head>
    <body>
        <nav th:replace="fragments_generico :: navbar"/>
        <div class="jumbotron container">
            <p> Gerente: <span class='service-manager' th:text="${servico.usuarioIdUsuario.nmUsuario}"></span></p>
            <h1 class="display-3 service-value" th:text="${servico.vlTotalServico}">VALOR SERVICO</h1>
            <h1 class="display-3 service-name" th:text="${servico.nmServico}">NOME SERVICO</h1>
            <p class="lead service-website" th:text="${servico.dsWebsite}">WEBSITE</p>
            <p class="lead service-description" th:text="${servico.dsDescricao}">DESCRICAO</p>
            <hr class="m-y-2"/>
            <p class="lead">
                <a class="btn btn-warning" th:text="Editar"/>
                <a class="btn btn-warning" th:text="Desativar"/>
            </p>    
        </div>
    </body>
</html>
