<!DOCTYPE html>
<html xmlns="https://www.thymeleaf.org">
    <head>
        <title th:text="${servico.nome} + ' | Onde está Wallet?'"/>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link th:href="@{/css/bootstrap/bootstrap.min.css}" type="text/css" rel="stylesheet"/>
        <link th:href="@{/css/fragments.css}" type="text/css" rel="stylesheet"/>
        <link th:href="@{/css/fragments_generico.css}" type="text/css" rel="stylesheet"/>
        <link th:href="@{/css/service.css}" type="text/css" rel="stylesheet"/>
    </head>
    <body>
        <nav th:replace="fragments_generico :: navbar"/>
        <div class="jumbotron container">
            <div class="row">
                <div class="service-name col-md-6 col-sm-6">
                    <p class="text-left" th:text="'Serviço ' + ${servico.situacao}">Serviço</p>
                    <span class="display-3" th:text="${servico.nome}">NOME SERVICO</span>
                </div>
                <div class="service-value col-md-6 col-sm-6 text-right">
                    <p class="text-right">Custo mensal</p>
                    <span class="display-3" th:text="${valorServicoFormatado}">VALOR SERVICO</span>
                </div>
            </div>
            <a class="lead service-website" th:text="${servico.webSite}" th:href="${servico.webSite}">WEBSITE</a>
            <hr class="m-y-2"/>
            <p class="text-muted"> Gerente: <span class='service-manager' th:text="${servico.nomeUsuarioResponsavel}"></span></p>
            <p class="text-muted"> Periodicidade: <span class='service-manager' th:text="${servico.periodicidade}"></span></p>
            <p class="lead text-muted">Descrição:</p>
            <section>
                <blockquote class="lead service-description" th:text="${servico.descricao}">DESCRICAO</blockquote>
            </section>
            <hr class="m-y-2"/>
            <p class="lead">
                <a class="btn btn-warning btn-editar-servico" th:text="Editar" th:href="@{'/editar-servico?idServico=' + ${servico.id}}" th:if="${#authentication.principal.permissao == T(br.com.crescer.wallet.entity.Permissao).ADMINISTRADOR}"/>
                <button class="btn btn-warning btn-desativar-servico" th:text="Cancelar" th:value="${servico.id}" th:if="${#authentication.principal.permissao == T(br.com.crescer.wallet.entity.Permissao).ADMINISTRADOR AND servico.situacao != T(br.com.crescer.wallet.entity.Situacao).CANCELADO}"/>
            </p>    
        </div>
        <div th:replace="fragments_generico :: modal"/>
        <div th:replace="fragments_dashboard :: scripts"></div>
        <div th:replace="fragments_generico :: helpers"></div>
        <script th:src="@{/js/servico.js}" type="text/javascript"/>
    </body>
</html>
