/*    Created on : 01/07/2016, 00:33:42
    Author     : Hedo
*/

ul.nav.nav-tabs a {
    color: #FBAF41;
    margin-top: 30px;
}

.form-horizontal .form-group{
    margin-left: 0;
    margin-right: 0;
}

h3{
    margin-left: 15px;
    margin-bottom: 30px;
}

.form-group .radio-inline:nth-of-type(1) {
    margin-right: 25%;
}

.form-group .radio-inline {
    margin-bottom: 7px;
    margin-left: 0;
}

.form-control{
    border-radius: 0;
}

.form-control:focus{
    box-shadow: 0px 0px 5px #B0B5B8;
    border-color: #B0B5B8;
}

@media(min-width: 1024px){
    .form-horizontal .form-padding{
        margin-left: 8.33333%;
    }
}

textarea{
    resize: vertical;
    margin-right: 15px;
}

.btn-success{
    transition: background-color 0.4s ease, color 0.4s ease;
    background-color: #FBAF41;
    width: 30%;
    font-size: 1.3em;
    margin-top: 20px;
    border: none;
    border-radius: 0;
}

.btn-success:hover{
    background-color: #434343;
    color: #FBAF41;
}

.btn-success:active:hover, .btn-success.active:hover, .btn-success:active{
    background-color: #434343;
    color: #FBAF41;
}



