@font-face{
    font-family: Open Sans;
    src: url('../fonts/OpenSans-Light.ttf');
}

nav {
    height: 70px;
}

.navbar-right {
    margin-right: 5.72%;
}

.navbar-collapse {
    background-color: #434343;
    border: none;
}

#btn-collapse{
    margin-top: 20px;
    margin-bottom: 16px;
}
body {
    margin-top: 70px;
}
.navbar-default, .btn-danger, .btn-danger:hover, .btn-default {
    background-color: #434343;
    /*border*/
}
nav,
a.navbar-brand h6:first-of-type,
a.navbar-brand h6:nth-of-type(2), 
.btn-default,
.general-section-content span,
#servico-mais-caro-nome {
    font-weight: bold;
}

a.navbar-brand h6:first-of-type,a.navbar-brand h6:nth-of-type(2){
    line-height: 15px;
}

.panel-default > .panel-heading {
    background-color: #434343;
}

.panel {
    background-color: #434343;
    box-shadow: 3px 3px 3px #B0B5B8;
    border-radius: 0px;
    color: white;
}

.panel strong {
    color: #FBAF41;
}

.servico-mais-caro {
    font-size: 2em;
    background-color: #FBAF41;
    font-weight: bolder;
    color: white;
    margin-top: 40px;
}

.servico-mais-caro span {
    color: #434343;
}

.panel-container-top {
    background-color: white;
    border-color: transparent !important;
}

span.glyphicon {
    font-size: 0.8em;
    transform: rotate(0deg);
    transition: transform 0.5s ease;
}

li a.dropdown-toggle span.glyphicon{
    transform: rotate(90deg);
}

#li-navbar{
    margin-top: 8px;
    font-size: 1.2em;
    font-weight: 300;
    color: white;
}

#li-navbar, #li-navbar a {
    transition: color 0.5s ease;
}

#li-navbar #li-navbar a, a.navbar-brand h6:nth-of-type(2), .btn-default {
    color: white;
}

#li-navbar:hover, #li-navbar a:hover {
    color: #FBAF41;
}

@media(min-width: 768px){
    .navbar>.container-fluid .navbar-brand {
        margin-left: 80px;
        margin-top: -14px;
    }
}
a.navbar-brand h6:first-of-type{
    margin-left: 1px;
    font-size: 1.175em;
}
a.navbar-brand h6:nth-of-type(2){
    font-size: 1.8em;
}

.main-section{
    border: 1px solid #B0B5B8;
    box-shadow: 3px 3px 3px #B0B5B8;
    min-height: 900px;
    margin-bottom: 60px;
}

.main-section .general-section-content {
    margin-top: 5%;
}

.main-section .general-section-titling, .previsao-prox-mes {
    font-size: 2em;
}

.general-section-titling{
    font-weight: 300;
    font-size: 2.5em;
}

.previsao-prox-mes {
    float: right;
    color: white;
}

.preco-total{    
    float: right;
}

.custo-deste-mes {
    color: white;
}

.services-container {
    margin-top: 10px;
}

.single-service-container, .single-service-container:last-child{
    border: none;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom: 1px solid #434343;
}

.service-edit-btn, .service-delete-btn {
    width: 50%;
    float: right;
}

.btn-danger {
    transition: border-color 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.btn-danger, .btn-danger:hover {
    border-color: #434343;
}

.btn-warning {
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.btn-warning:hover, .btn-default:hover, .service-value {
    color: #434343;
}

.btn-warning, .btn-warning:hover {
    background-color: #FBAF41;
    border-color: transparent;
}

.btn-default, .service-edit-btn, .service-delete-btn {
    border-radius: 0px;

}

.btn-default {
    transition: background-color 0.5s ease, color 0.5s ease;
    margin-top: 5%;
}

.btn-default:hover {
    background-color: white;
}

.service-edit-btn span, .service-delete-btn span {
    font-size: 1.2em;
}

.service-name {
    font-size: 2em;
    font-weight: 600;
}
.service-value {
    font-size: 1.8em;
    font-weight: 500;
}

.general-section-content{
    font-size: 1.6em;
    margin-left: 10%;
    margin-right: 10%;
}

.general-section-content span:first-of-type,
.btn-danger:hover, .service-name,
a.navbar-brand h6:first-of-type {
    color: #FBAF41;
}

.graph-section {
    border: 1px solid #B0B5B8;
    height: 300px;
    margin-top: 5%;
    width: 97.5%;
}

.service-value, 
.service-name, 
.btn-default, 
.general-section-titling, 
.general-section-content,
nav,
a.navbar-brand h6:first-of-type,
a.navbar-brand h6:nth-of-type(2),
.servico-mais-caro {
    font-family: Open Sans, sans-serif;
}