/*
Created on : 30/06/2016, 18:08:00
    Author     : Hedo
*/

.jumbotron {
    margin-top: 100px;
    border: 1px solid #B0B5B6;
    box-shadow: 3px 3px 3px #B0B5B6;
    font-family: Open Sans, sans-serif;
}

.jumbotron h1 {
    display: inline;
}

.service-manager {
    color: #FBAF41;
    font-weight: bold;
}

.service-value {
    position: relative;
    float: right;
    bottom: 80px;
    right: 20px;
}

.btn-editar-servico, .btn-desativar-servico {
    float : right;
    margin-right: 10px;
    font-size: 2em;
    border-radius: 0px;
}

.btn-editar-servico {
    border: 1px solid #FBAF41;
    color : #434343;
    background-color: #FBAF41;
}

.btn-editar-servico:hover{
    background-color: #FBAF41;
}

.btn-desativar-servico {
    border: 1px solid #434343;
    color: #434343;
    transition: background-color .5s ease, color .5s ease;
}

.btn-desativar-servico:hover {
    background-color: #434343;
    color: #B0B5B6;
}

