<!DOCTYPE html>
<html xmlns="https://www.thymeleaf.org">
    <head>
        <title th:text="${usuario.name} + ' | Onde está Wallet?'"/>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link th:href="@{/css/bootstrap/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{/css/fragments_generico.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{/css/usuario.css}" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <nav th:replace="fragments_generico :: navbar"/>
        <div class="container">
            <div class="row">
                <div class="jumbotron" id="div-gerente">
                    <div class="row">
                        <h1 class="display-3 word-break" th:text="${usuario.name}"/>
                    </div>
                    <div class="row">
                        <h1 class="display-2" th:text="${usuario.email}"/>
                    </div>
                    <div class="row">
                        <h1 class="display-2" th:text="${usuario.username}"/>
                    </div>
                    <div class="row">
                        <h1 class="display-2" th:text="${usuario.state}"/>
                    </div>
                    <div class="row">
                        <button class="btn glyphicon glyphicon-trash btn-excluir-gerente" th:value="${usuario.id}" th:if="${usuario.state == T(br.com.crescer.wallet.entity.State).ACTIVE}"/>
                        <a class="btn glyphicon glyphicon-pencil btn-editar-gerente" th:href="@{'/editar-usuario?idUsuario=' + ${usuario.id}}"/>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="fragments_generico :: modal"></div>
        <div th:replace="fragments_generico :: generic-scripts"/>
        <div th:replace="fragments_generico :: helper-scripts"/>
        <script th:src="@{/js/usuario.js}" type="text/javascript"/>
    </body>
</html> 